<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/diary.css">
    <link rel='stylesheet' href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' type='text/css'>
    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>일기장 | 세부 정보</title>
</head>

<body>
    <div class="container">
        <h1 class="none-drag">일기 목록</h1>
        <button onclick="window.location.href='/'">홈으로</button>
        <button onclick="window.location.href='/diary/write'">새로 작성</button>
        <ul>
            <% for (let i = 0; i < items.length; i++) { %>
                <li onclick="window.location.href='/diary/<%= items[i].unique %>'"><p><%= items[i].userTitle %></p><small><%= items[i].time %></small></li>
            <% } %>
        </ul>
    </div>
</body>

</html>