<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/diary_write.css">
    <link rel='stylesheet' href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="/summernote/ko-KR.js"></script>
    <script>
        $(document).ready(() => {
            $('#editor').summernote({ lang: 'ko-KR', height: 300 });
        });
    </script>
    <title>일기장 | 수정</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <form method="post" action="/api/rewrite">
            <input type="text" id="title" name="title" value="<%= data.userTitle %>" placeholder="제목">
            <input type="text" id="unique" name="unique" value="<%= data.unique %>" readonly>
            <textarea id="editor" name="content"><%= data.userContent %></textarea>
            <input type="submit" id="push" value="수정">
        </form>
    </div>
</body>
</html>