<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css-->
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel='stylesheet' href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' type='text/css'>
    <!--js-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function htmlDecode(input) {
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }
        function onHtml(text, id) {
            return document.getElementById(id).innerHTML = htmlDecode(text);
        }

        $(document).ready(() => {
            onHtml(`<%= data.userTitle %>`, `title`);
            onHtml(`<%= data.time %>`, `time`);
            onHtml(`<%= data.userContent %>`, `content`);
        });

        function trash() {
            if (confirm("정말 삭제하시겠습니까?\n삭제하면 되돌릴 수 없습니다") == true) {
                const loca = location.href.split('/').pop();
                $.ajax({
                    url: '/api/trash',
                    type: 'POST',
                    data: {
                        unique: loca
                    }
                }).done((res) => {
                    if (res == '404') {
                        alert("작성자가 아닙니다");
                    }
                    else {
                        window.location.href = '/diary'
                    }
                });
            }
        }

        function rewrite() {
            const loca = location.href.split('/').pop();
            window.location.href = '/diary/rewrite/' + loca;
        }
    </script>
    <title>일기장 | 세부 정보</title>
</head>

<body>
    <div class="container" id="bo">
        <div>
            <h1 id="title"></h1>
            <small id="time"></small>
            <div id="content"></div>
        </div>
        <ul class="btns">
            <li class="hom"><a class="h" href="/diary">목록으로</a></li>
            <li>|</li>
            <li class="tra"><a onclick="rewrite()">수정</a></li>
            <li>|</li>
            <li class="del"><a onclick="trash()">삭제</a></li>
        </ul>
    </div>
</body>

</html>