.container {
    text-align: left;
}
.container h1 {
    margin: 20px 30px;
}
.container .list {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    text-align: left;
    list-style: none;
}
.container .list li {
    padding: 10px;
    color: gray;
    cursor: pointer;
    transition-timing-function: ease;
    border-radius: 14px;
}
.container .list li, .container .list li small {
    transition-duration: .2s;
}
.container .list li:hover {
    color: black;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    padding: 25px;
}
.container .list li:hover small {
    color: #0085ff;
}
.container .list li p {
    font-size: 20px;
}

button {
    width: 320px;
    height: 40px;
    margin-bottom: 20px;

    font-size: 14px;

    border: 1px solid rgb(100, 100, 100);
    background-color: 1px solid rgb(90 ,90 ,90);

    border-radius: 14px;

    cursor: pointer;
}

h1, .top-menu {
    display: inline-block;
}

h1 {
    left: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

hr {
    color: #333333;
    margin: 0 auto;
    width: 95%;
}

.top-menu {
    cursor: default;
    list-style-type: none;
}
.top-menu li {
    display: inline;
    margin: 10px;
}