input {
    outline: none;
    border: none;
    background-color: #F8F8F8;
    padding: 0px 10px;
    height: 48px;
    font-size: 16px;

    border-radius: 6px;

    width: 100%;

    display: block;
    margin: 10px 0;
}
input::placeholder {
    color: #949494;
}

.login {
    width: 336px;
}

button {
    margin: 5px 0;

    width: 160px;
    height: 40px;

    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #6A24FE;
    color: white;

    cursor: pointer;
}

#login {
    float: right;
}

a, button {
    display: block;
}

button {
    display: inline-block;
}

a {
    margin-left: 10px;
    margin-top: 20px;
    text-decoration-line: none;
    cursor: pointer;
    color: #0085ff;
}