.container {
    word-break: keep-all;
    margin: 40px;
}
#time {
    color: #0085ff;
}

.btns {
    list-style: none;
    cursor: default;
    float: right;
    margin: 40px 0 40px 0;
    user-select: none;
}
.btns li {
    margin: 3px;
    display: inline;
}
.del, .tra, .hom {
    cursor: pointer;
}
.h {
    color: #000000;
    text-decoration: none;
}
.h:hover {
    color: darkmagenta;
}
.tra:hover {
    color: #0085ff;;
}
.del:hover {
    color: red;
}


#content {
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    #title {
        font-size: 22px;
    }

    #content {
        font-size: 16px;
    }
}